.hi__row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0 0;
  @include laptop-S{
    display: block;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }
  @include tablet-S{
    padding: 80px 0 30px;
  }
  .hi__txt{
    padding: 0 0 50px;
    .hi__title{
      font-weight: 500;
      font-size: 24px;
      color: #666666;
    }
    .hi__name{
      font-weight: bold;
      font-size: 60px;
      color: #404040;
      padding: 30px 0;
      @include laptop-M{
        font-size: 58px;
      }
      @include laptop-S{
        font-size: 48px;
      }
    }
    .hi__desc{
      font-size: 24px;
      color: #666666;
      padding: 10px 0 50px;
      @include laptop-S{
        padding: 5px 0 30px;
      }
    }
  }
  .hi__img{
    position: relative;
    z-index: 51;
    top: -60px;
    @include laptop-S{
      display: none;
    }
  }
}

.services{
  .services__head{
    @include laptop-S{
      max-width: 450px;
      width: 100%;
      margin: 0 auto;
    }
    .services__title{
      max-width: 250px;
      padding: 10px 0 50px;
      letter-spacing: 1.4px;
    }
  }
  .services__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include laptop-S{
      flex-direction: column;
    }
    .services__item{
      max-width: 350px;
      width: 100%;
      @include laptop-S{
        max-width: 450px;
      }
      .services__name{
        display: flex;
        align-items: center;
        .services__icon{
          position: relative;
          img{
            max-width: 60px;
          }
          #mobile{
            position: absolute;
            top: 13px;
            left: 21px;
          }
          #brand{
            position: absolute;
            top: 17px;
            left: 18px;
          }
          #web{
            position: absolute;
            top: 18px;
            left: 18px;
          }
        }
        .services__txt{
          padding-left: 20px;
          font-weight: 500;
          font-size: 26px;
          color: #404040;
        }
      }
      .services__description{
        padding: 20px 0;
        font-size: 18px;
        line-height: 32px;
        color: #666666;
        letter-spacing: 1px;
      }
    }
  }
}

.portfolio{
  padding: 70px 0;
  min-width: 0;
  @include laptop-S{
    padding: 30px 0;
  }
  .portfolio__head{
    @include laptop-S{
      max-width: 450px;
      width: 100%;
      margin: 0 auto;
    }
    .portfolio__row{
      display: flex;
      justify-content: space-between;
      @include laptop-S{
        display: block;
        padding: 0 0 20px;
      }
      .portfolio__title{
        max-width: 200px;
        padding: 10px 0 50px;
      }
      .portfolio__more{
        display: flex;
        max-width: 185px;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
        p{
          font-weight: 600;
          font-size: 24px;
          text-decoration-line: underline;
          transition: 0.3s;
          color: #666666;
          cursor: pointer;
        }
        p:hover{
          color: #404040;
        }
        img{
          width: 24px;
          cursor: pointer;
        }
      }
    }
  }
  .portfolio__content{
    .portfolio__slider-name{
      max-width: 450px;
      width: 100%;
      font-size: 30px;
      line-height: 50px;
      padding: 20px 0;
      font-weight: 500;
      color: #404040;
      @include laptop-S{
        font-size: 25px;
        line-height: 30px;
        margin: 0 auto;
      }
    }
  }
}
.contact-me{
  padding: 70px 0;
  min-width: 0;
  .contact-me__head{
    @include laptop-S{
      max-width: 450px;
      width: 100%;
      margin: 0 auto;
    }
    .contact-me__title{
      max-width: 600px;
      width: 100%;
      text-align: justify;
      padding: 15px 0;
      color: #404040;
    }
  }
}