@import "mixins.scss";
@import "normalize.scss";


.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Red Hat Display', sans-serif;
  @include laptop-M{
    max-width: calc(100% - 40px);
  }
}

.button{
  max-width: 200px;
  width: 100%;
  background: #9F72D8;
  border-radius: 100px;
  text-align: center;
  padding: 14px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  cursor: pointer;
}

.name{
  font-size: 18px;
  color: #9F72D8;
}

.line{
  border: 1px solid #9F72D8;
  width: 50px;
  margin: 10px 0;
}

.title{
  font-weight: bold;
  font-size: 36px;
  color: #25202F;
  line-height: 45px;
}

@import "slider.scss";

@import "header.scss";

@import "main.scss";

@import "footer.scss";
